/*
   BitTorrent.org BEP CSS
*/ 

body {
	margin:0;
	padding:0;
	color:#333;
	background-color:#666;
	font:10px/1.5em "Trebuchet MS",sans-serif; 
	text-align:center; 
	}

#upper {
    margin:0;
    padding:60px 0;
    background:#fff url("../img/bg.gif") repeat-x 0 0;
    }
    
#wrap {	
	margin:0 auto;
	width:700px;
	text-align:left; 
	}
	
#header {
    margin:0;
	width:100%;
	border-bottom:2px solid #eee;
	}
	
#nav {
    margin:0 0 40px 0;
    padding:.5em 0;
    text-align:right;
    }

#nav ul {
    list-style:none;
    padding:0;
    margin:0;
    }

#nav li {
    margin-left:1em;
    padding:0;
    display:inline;
    font-size:1.5em;
    font-weight:bold;
    }

#nav li span {
    color:#f60;
    }

#home-l ul,
#home-c ul,
#home-r ul {
    margin:0 0 1.5em 0;
	padding:0 0 10px 2px;
    }

#home-l li,
#home-c li,
#home-r li {
	list-style-type:none;
	margin:1em 0;
	padding:0 0 0 25px;
    font-size:1.5em;
    line-height:1.2em;
    background:url("../img/li.gif") no-repeat 0 0; 
    }

#first p {
	font-size:3pt;
	line-height:80pt;
}
    

#second li,
#second dt {
	margin:.4em 0;
    font-size:10pt;
    line-height:12pt;
    }

#second dd {
    margin-bottom:7px;
    font-size:1.2em;
    line-height:1.5em;
    }

#intro {
    margin:0 0 2.5em 0;
    padding:0 3em;
    font-size:2.5em;
    line-height:1.2em;
    color:#000;
    }

#footer {
    margin:0;
    padding:0;
    height:60px;
    background:url("../img/fbg.gif") repeat-x 0 0;
    }

#home-l,
#home-c,
#home-r {
    margin:0 10px;
    width:210px;
    float:left;
    }
	
#blog {
    padding:0 7em;
    }

.field-name,
.docinfo-name {
    margin:0;
    font-size: 1.2em;
    text-align: right;
    vertical-align: middle;
}

h1 {
    margin-top:1em;
    margin-bottom:.1em;
    margin-right: 0;
    margin-left: 0;
    font-size:2em;
    font-weight:normal;
    letter-spacing:-1px;
    }

h1 span {
    font-weight:bold;
    color:#09f;
    }

h2 {
    margin: .5em 0 0 0;;
    padding:0 0 .5em 0;
    font-size:1.6em;
    //border-bottom:2px solid #ffc;
    }

#second h2,
#blog h2 {
    margin:0;
    padding:0 0 .5em 0;
    font-size:1.6em;
    font-weight:normal;
    border:0;
    }

h3 {
    font-size:1.3em;
    line-height:1.0em;
    }

h4 {
    font-size:1.1em;
    text-transform:uppercase;
    }

h5 {
    font-size:1.1em;
    color:#666;
    }

#second p,
#blog p {
    font-size:1.3em;
    line-height:1.5em;
    }

#footer p {
    margin:0;
    padding:2em 0;
    color:#fff;
    }

table {
    border:0;
    border-style:2;
    margin-left:4em;  
    //margin-top:4em;
    //margin-bottom:4em;
    }

td {
    font-size:9pt;
    padding:10px;
    }

td.shade {
    background-color:#eee;
    }

#blog .post {
    padding:5px 0;
    border-top:2px solid #ffc;
    font-size:1em;
    color:#999;
    }

.clear:after {
	content:".";
	display:block;
	height:0;
	font-size:0;
	clear:both;
	visibility:hidden; 
	}
	
.clear {
    display:inline-table; 
    }

/* \*/
* html .clear { 
    height:1%; 
    }

.clear {
    display:block; 
    }
/* */

.img-r {
    float:right;
    width:300px;
    padding-bottom:10px;
    margin:0 0 0 20px;
    }

.img-l {
    float:left;
    width:300px;
    padding-bottom:10px;
    margin:0 20px 0 0;
    }

#second .img-l p,
#second .img-r p {
    color:#09f;
    font-size:1.5em;
    text-align:center;
    }

hr { 
    display:none; 
    }

code {
    color:#963;
    }

/* links */

a {
	color:#345;
	text-decoration:none;
	border-bottom:1px solid #eee; 
	}

a:visited {
	color:#678;	
	}

#nav a:visited {
    color:#345; 
    }

a:hover,
#nav a:hover {
    color:#f60;
	}

h1 a,
h1 a:visited,
h1 a:hover {
    color:#666;
    border:0;
    }

a img {
	border:0; 
	}

.literal-block {
	margin-left:4em;
}

div.figure {
	margin:2em 4em 1em 4em;
	text-align: center;
	font-size: 7pt;
}

p.caption {
	text-align: left;
}

